<html>
<head>
    <title> Your vote has been recorded </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills pull-right">
            </ul>
        </nav>
        <h3> Thank you for voting {{ user.email }} , your admin will let you know the results of the election shortly</h3>
        <p>
        <p>
        <h3>
        <li role="presentation"><a href="logout">Logout</a></li></h3>
    </div>
</body>
</html>
